*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.counter{
  
  text-align: center;
  margin-top: 18%;
  padding: 10px;
  background-color: rgb(232, 90, 90);
  border-radius: 10px;
  width: 30%;
  height: 250px;
  margin-left:33%;
  
}
h1{
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.increment{
  width: 25%;
  margin: 10px;
  padding: 15px;
  background-color: white;
  border: none;
}
.decrement{
  width: 25%;
  margin: 10px;
  padding: 15px;
  background-color: white;
  border: none;
  

}

